*.class
/target/
*/target/
.settings
.project
*/.settings
*/.project
*.classpath
*.log

.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*/webapp/config-data/*

/diamond-server/src/main/webapp/config-data/*
/diamond-server-manager/src/main/webapp/config-data/*


hs_err_pid*


